*{box-sizing: border-box;}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.full-width {
  width: 100%;
}

.card {
  width: 90%;
  margin: 1rem auto;
  background-color: rgb(235, 235, 235);
}

img {
  height: 20rem;
}