<app-nav-bar>
  <ng-container>
    <form #form="ngForm" class="form" (ngSubmit)="create(form)">
      <h1>Criação de um novo cliente</h1>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Nome</mat-label>
        <input
          name="nome"
          matInput
          placeholder="Ex. Garibaldo Ormind"
          required
          maxlength="100"
          [(ngModel)]="cliente.nome"
        />
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>CPF</mat-label>
        <input
          name="cpf"
          matInput
          placeholder="Ex. 000.000.000-00"
          mask="000.000.000-00"
          required
          [(ngModel)]="cliente.cpf"
        />
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input
          name="email"
          type="email"
          matInput
          placeholder="Ex. exemplo@exemplo.com"
          [(ngModel)]="cliente.email"
        />
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Senha</mat-label>
        <input
          name="senha"
          matInput
          placeholder="Senha do cliente"
          type="password"
          [(ngModel)]="cliente.senha"
        />
      </mat-form-field>
      <section class="example-section">
        <mat-checkbox color="primary" class="margin" (click)="addPerfil(0)">Administrador</mat-checkbox>
        <mat-checkbox color="primary" class="margin"(click)="addPerfil(1)">Técnico</mat-checkbox>
        <mat-checkbox color="primary" class="margin"(click)="addPerfil(2)">Cliente</mat-checkbox>
      </section>

      <button  mat-stroked-button color="primary">
        <strong>Criar</strong>
      </button>
      <a mat-stroked-button color="warn" [routerLink]="['/clientes']" >
        <strong>Cancelar</strong>
      </a>
    </form>
  </ng-container>
</app-nav-bar>
